// @font-face{
//     font-family:'Handlee';
//     src: url('./fonts/Handlee.woff2') format('woff2');
// }

.mainDiv{
    margin-top:200px;
    width: 100%;
    color:#444;
    font-size:50px;
    text-align: center;
}

