@import url("https://fonts.googleapis.com/css?family=Bangers");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: rgba(255, 254, 254, 0.95);
  color: #2c2929;
  font-family: "Open Sans", sans-serif; }

#main-navigation {
  position: relative;
  background-color: #ffffff;
  border-radius: 0px;
  padding: 15px 0 0 0; }
  #main-navigation #toggleMobileMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    display: block; }
  #main-navigation #crapbagNavLinks {
    text-align: center;
    margin-top: 30px; }
    #main-navigation #crapbagNavLinks span {
      display: inline; }
  #main-navigation #brand-title {
    font-family: "Bangers", cursive;
    color: #ee5559;
    font-size: 42px;
    transform: rotate(-5deg); }
    #main-navigation #brand-title i {
      font-size: 22px; }
  #main-navigation ul.navbar-right li {
    padding-right: 20px; }
    #main-navigation ul.navbar-right li a {
      color: #2c2929;
      font-size: 22px; }
  #main-navigation ul.navbar-right #langSupport a {
    font-size: 22px; }

#plp-main {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center; }
  #plp-main .plp-item {
    padding: 20px 10px;
    box-sizing: border-box; }
    #plp-main .plp-item .plp-item-image {
      width: 100px;
      float: left; }
    #plp-main .plp-item .plp-item-info .plp-item-title,
    #plp-main .plp-item .plp-item-info .plp-item-price,
    #plp-main .plp-item .plp-item-info .plp-item-rating {
      display: inline-block;
      margin-left: 20px; }
    #plp-main .plp-item .plp-item-info .plp-item-title {
      font-size: 18px; }
    #plp-main .plp-item .plp-item-info .plp-item-rating {
      color: #ffc801;
      font-weight: bold; }
    #plp-main .plp-item .plp-item-info .plp-item-price {
      font-size: 14px;
      font-weight: bold; }
      #plp-main .plp-item .plp-item-info .plp-item-price i {
        font-size: 13px; }
    #plp-main .plp-item .plp-item-info .plp-item-addbtn {
      margin-top: 22px;
      vertical-align: bottom;
      margin-left: 20px; }
      #plp-main .plp-item .plp-item-info .plp-item-addbtn.disabled {
        opacity: 0.5; }

#cartModal .modal-header,
#cartModal .modal-footer {
  border: none;
  text-align: center; }

#cartModal .modal-header .modal-title {
  font-size: 24px; }

#cartModal #cartItemsMain {
  text-align: center; }

#cartModal .cart-item {
  margin: 10px 0px;
  text-align: left; }
  #cartModal .cart-item .cart-item-title {
    font-size: 20px; }
  #cartModal .cart-item .cart-item-btn {
    float: right; }

#cartModal .modal-footer .cart-close {
  font-size: 18px; }

#plp-footer {
  margin: 30px 20px 10px 20px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  background-color: #e4e4e4; }
  #plp-footer span {
    font-size: 13px; }

.check-cart {
  background-color: #ee5559;
  color: #fff !important; }

@media (max-width: 768px) {
  #main-navigation #crapbagNavLinks {
    display: none; } }

@media (min-width: 768px) {
  #main-navigation #crapbagNavLinks {
    margin-top: 0px;
    display: block; }
    #main-navigation #crapbagNavLinks span {
      display: none; }
  #main-navigation #toggleMobileMenu {
    display: none; }
  #main-navigation ul.navbar-right #langSupport a {
    font-size: 14px; } }
