{{#each this}}
<div id="{{this.id}}" class="container col-xs-12 col-sm-12 col-md-12 col-lg-12 cart-item">
    <span class="cart-item-title">{{this.prod_name}}</span>
    <button class="btn btn-warning cart-item-btn"><label for="cart-item-btn"></label></button>
</div>
{{/each}}